h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

a {
  display: block;
  color: aquamarine;
  font-size: 16px;
}

body {
  background: black;
  text-align: center;
  font-family: Verdana, sans-serif;
}

video {
  display: block;
  margin: auto;
}